{% extends 'farm/base_dashboard.html'%}

{% block content%}
<style>
    body{
        background: black;
    }
    h1{
        color: white;
    }
    p{
        color: white;
    }
</style>

<div>
    <div class="row">
        <form method="POST" class="col-sm-11 col-md-4 mx-auto mt-5">
            {% csrf_token %}
            <h1 class="fw-dark">Your password has been reset successfully.</h1>
            <p class="fw-light">Login with your new password</p>
            <a href="{% url 'login' %}" class="btn btn-success">ok</a>
        </form>
    </div>
</div>

{% endblock content%}