{% extends 'farm/base_dashboard.html'%}

{% block content%}
<style>
    body{
        background: black;
    }
    h1{
        color: white;
    }
    p{
        color: white;
    }
</style>

<div>
    <a href="{% url 'expense_list' %}" class="btn btn-outline-secondary my-3 mx-4">Go back</a>
    <div class="row">
        <form method="POST" class="col-sm-11 col-md-4 mx-auto mt-5">
            {% csrf_token %}
            <h1 class="fw-dark">Are you sure you want to delete expense, "{{ expense.expense_name }}"?</h1>
            <p class="fw-light">This cannot be undone</p>
            <button class="btn btn-danger">Delete</button>
            <a href="{% url 'expense_list' %}" class="btn btn-danger">Cancel</a>
        </form>
    </div>
</div>

{% endblock content%}